player-connection-mode=Listen
player-connection-guid=410837099
player-connection-debug=0
player-connection-project-name=MyFirstGame
player-connection-ip=172.26.208.1
player-connection-ip=172.29.208.1
player-connection-ip=172.23.240.1
player-connection-ip=192.168.1.69
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
